{% extends "base.html" %}
{% block title %}Employee List{% endblock title %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Telephone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for employee in employees %}
    {% if employee.groups[0].name in ['employee'] %}
        <tr>
        <th scope="row">{{employee.id}}</th>
        <td>{{ employee.name }}</td>
        {% if employee.roles %}
            <td>{{ employee.roles[0].name }}</td>
        {% else %}
            <td class="text-danger">Unassigned</td>
        {% endif %}
        <td>{{ employee.phone_number }}</td>
        </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock content %}